<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat+Alternates:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,300&family=Roboto:wght@900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Chase.io</title>
</head>
<body>
  <h3>Chaseio</h3>
</body>
</html>